body{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;  
}

.container{
    width: 65%;
    margin: 0 auto;
    overflow: hidden;
}

/* NAVBAR */

header{
    background-image: url(img/bgfix.jpg);
    background-position: top -60px left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    min-height: 70px;
        

    
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
}

header ul{
    margin: 0;
    padding: 0;
    height: 80px;
    float: right;  
}

header li{
    display: inline-block;
    padding: 10px 20px 0 20px;
}

header nav{
    padding-top: 20px;
    padding-bottom: 20px; 

}

header .logo{
    padding-left: 10px;
}

/* NAV ANIMATION */


header li a:after{
  content: '';
  left: 0;
  height: 1em;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid;
  margin: 0;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
    color: #ff0000;
}

header li a:hover:after{
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
    color: #ff0000;
}

header li a:hover{
    color: #ff0000;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;   
}





/* HEADER SHOWCASE */


#showcase{
    min-height: 600px;
}

#showcase h1{
    width: 55%;
    margin-top: 100px;
    font-size: 55px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 70px;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
    
}

#showcase p{
    font-family: 'Noto sans', sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); 
    width: 55%;
}

#showcase img{
    float: right;
    position: relative;
    top: -400px; 
}

#img1, #img2{
    width: 20%; 
}

#img2{
   right: -80px;  
}


/* HEADER BUTTONS */


.header-btn{
    font-family: 'Noto Sans', Arial, sans-serif;
    padding-top: 25px;
}

.btn-custom{
    line-height: 62px;
    font-family: 'Noto Sans', Arial, sans-serif;
    color: #FFF;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;   
    padding: 14px 40px;     
    border-radius: 4px;
    text-decoration: none;
}

.btn-blue{
            background: #0077aa;
            background: -webkit-linear-gradient(left,#0077aa,#19aaaa);
            background: -moz-linear-gradient(left,#0077aa,#19aaaa);
            background: linear-gradient(left,#0077aa,#19aaaa);
            border-color: #000;
            margin-right: 40px;
}

.btn-green{
            background: #81d742;
            background: -webkit-linear-gradient(bottom left,#81d742,#13a800);
            background: -moz-linear-gradient(bottom left,#81d742,#13a800);
            background: linear-gradient(bottom left,#81d742,#13a800);     
    border-color: #000;
    padding: 14px 42px;
}
.btn-green:hover{
            background: #68ad35;
            background: -webkit-linear-gradient(top left,#68ad35,#0f7701);
            background: -moz-linear-gradient(bottom left,#68ad35,#0f7701);
            background: linear-gradient(bottom left,#68ad35,#0f7701);     
}
.btn-blue:hover{
    background: #00577c;
            background: -webkit-linear-gradient(left,#00577c,#0f7a7a);
            background: -moz-linear-gradient(left,#00577c,#0f7a7a);
            background: linear-gradient(left,#00577c,#0f7a7a);  
}

/* BOXES */


#boxes img{
    width: 20%;
    vertical-align: middle; 
}

#boxes{
    padding-top: 100px;
    padding-bottom: 70px;
    background: #ecf3f8;
    /*
            background: #f5f7fa;
            background: -webkit-linear-gradient(top,#f5f7fa,#ccdffc);
            background: -moz-linear-gradient(top,#f5f7fa,#ccdffc);
            background: linear-gradient(top,#f5f7fa,#ccdffc);   
    */
}

#boxes .box{
    float: left;
    padding-left: 30px;
    text-align: center;
    width: 30%;
}

#boxes h3{
    color: #555;
    font-size: 26px;
    font-weight: 900;
}

#boxes p{
    font-family: 'Noto sans', sans-serif;
    color: #666;
    line-height: 26px;
}


/* FEATURES */

  

#features{
    padding-top: 120px;
}
#features .row{
    padding-bottom: 150px;
    
}
#features #row-img{
    float: left;
    padding-right: 30px;
    width: 600px;
    
}
#features #row-text{
    padding-top: 40px;
}
#features #row-text h2{
    
    color: #3498db;
    font-size: 42px;
    line-height: 52px;
    margin: 0;
}
#features #row-text h2 span{
        color: #FFF;
    background-color: #3498db;
    padding: 1px 15px 2px;
}
#features #row-text p{
    margin-bottom: 30px;
    padding-top: 20px;
        font-family: 'Noto Sans', Arial, sans-serif;
    color: #777;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
}
#features .btn-custom{
        color: #3498db;
    background-color: transparent;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    white-space: nowrap;
    padding: 14px 40px;
    border: 1px solid #3498db;
    outline: none !important;
    border-radius: 4px;
}
#features .btn-custom:hover{
    background-color: #3498db;
        color: #fff;
    -webkit-transition: color .2s ease, background .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
        transition: color .2s ease, background .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
}



/* PRICING */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
}
.grid-item{
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
     
}

.pricing-bg{
    background-color: #e6f4f4;
    padding-top: 100px;
    padding-bottom: 60px;
}

/* Pricing Header */
.pricing-header{
    text-align: center;
    margin-bottom: 60px;
}
.pricing-header h2{
    font-family: 'Noto sans';
    color: #3498db;
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    margin: 0px;
}
.pricing-header h2 span{
    background-color: #3498db;
    color: #fff;
    padding: 1px 15px 2px;
}

/* Table Pricing */
.table-pricing{
    padding: 30px 30px 25px;
    box-shadow: 0px 4px 4px rgba(217,217,217,.3);
}
.table-pricing h4{
    font-family: 'Noto sans';
    text-align: center;
    color: #a9a9a9;
    font-size: 30px;
    line-height: 15px;
    font-weight: 700px;
    margin: 0px;
}
.table-pricing h5{
    text-align: center;
    color: #3498db;
    font-family: 'Noto Sans', sans-serif;
    font-size: 72px;
    margin: 0;
    font-weight: 700;
    letter-spacing: -3px;
    white-space: nowrap;
    margin-top: 20px;
}
.table-pricing sup{
    top: -1em;
    font-size: .389em;
    font-weight: 400;
    letter-spacing: 0px;
    margin-right: 8px;
}
.table-pricing sub{
    bottom: 0px;
    font-size: .25em;
    font-weight: 400;
    letter-spacing: 0px;
    margin-left: 10px;
}
.table-pricing p{
    font-family: 'Noto sans';
    text-align: center;
    color: #a9a9a9;
    line-height: 24px;
    padding-left: 24px;
    padding-right: 24px;
    
}
.grid-item #best-table{
    background-color: #3498db;
    
}
.grid-item #best-table h4{
    color: rgba(255,255,255,.8);
}
.grid-item #best-table h5{
    color: #fff;
}
.grid-item #best-table p{
    color: rgba(255,255,255,.7);
}

/* Pricing List */
.pricing-table ul{
    font-size: 16px;
    padding: 18px 30px;
    margin: 0px;  
    
}
.pricing-table li{
    text-align: center;
    list-style-type: none;
    padding: 12px 0px;
    font-family: 'Noto Sans';
    color: #777;
    font-weight: 400;
    border-bottom: 1px solid #e0e0e0;
    
}

/* Pricing Footer Button */
.table-footer{
    text-align: center;
    color: #fff;
    padding: 10px 30px 40px;
}
.table-footer a{
    background-color: #3498db;
    border: 1px solid #3498db;
}
.table-footer a:hover{
    background-color: #1a86ce;
}

/* Contact Section */ 
.bg-parallax{
    /*
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
      url(img/bgcontact.jpg); 
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;*/
    background-color: rgba(0,0,0,.7);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
}

.bg-overlay{
    padding-top: 120px;
    padding-bottom: 110px;
    text-align: center;
    color: #fff;
    font-family: 'Noto sans';
}
.contact-header{
    padding: 0 160px;
}
.contact-header h2{
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    margin: 0px;
}
.contact-header p{
    font-size: 17px;
    line-height: 28px;
    margin: 20px 0px 0px;
    padding-bottom: 50px;
    padding-top: 30px;
    margin: 0 auto;
}
.contact-btn .btn-custom{
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    white-space: nowrap;
    background-color: #3498db;
    padding: 14px 40px;
    border: 1px solid #3498db;
    outline: none;
    border-radius: 4px;
}
.contact-btn .btn-custom:hover{
   background-color: #1a86ce;
}
.testtest {
    background-color: #fff;
    height: 500px;
}

/*************** Media Queries ***********************/


/* 992px */

@media (min-width: 992px){
    .container{
        width: 970px;  
    }
    header{
        background-position: top left;
        
    }
    .header-btn{
        padding-top: 0;
    } 
    .contact-header{
        padding: 0;
    }
    

}

/* 1200px */

@media (min-width: 1200px){
    .container{
        width: 1170px;     
    }
        
}

/* 992px-768px */

@media all and (max-width: 992px) and (min-width: 768px){
    .container{
        width: 750px;
    }
    header{
        height: 1250px;
        background-position: top -100px center;
        margin-bottom: -100px; 
    }
    header li{
        padding-left: 0;
        
    }
    
    #showcase h1{
        width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    #showcase p{
        width: 100%;
        text-align: center; 
    }
    .header-btn{
        text-align: center;
        padding-top: 10px;  
    }
    #showcase img{ 
        float: none;
        top: -400px;
        width: 100%;
        left: 110px;
        margin-top: auto;
    }
    #img2{
        right: 0;
    }
    #showcase #images{
        display: flex;
        flex-direction: row;
        vertical-align: middle;
        margin-top: auto;
        width: 35%;
    }
     
    
    #boxes{
        width: 100%;
    }
    #boxes img{
        width: 30%; 
    }
    #boxes .box{
        width: 29%;
        float: left;
        margin: 0 auto;
    }
    #boxes h3{
        font-size: 24px;
        
    }
    #boxes p{
        font-size: 15px;
    }
    
    
    #features #row-img{
        float: none;
        margin: 0 auto;
        padding-right: 0;
    
    }
    #features #row-text h2{
        text-align: center;
        
    }
    #features #row-text p{
        padding-top: 30px;
        text-align: center;
        width: 600px;
        margin: 0 auto;
        padding-bottom: 35px;
    }
    
    #features #row-text{
        text-align: center;
    }
    #features .row{
    padding-bottom: 75px;
    }
    .contact-header{
        padding: 0;
    }

}


/* MOBILE */

@media(max-width: 768px){ 
    .container{
        width: 100%;
    }
    header{
        background-image: url(img/bgfix.jpg);
        background-position: top;
        height: 70%;
    }
    
    
    /* MENU */

    .burger-nav{
        display: block;
        height: 40px;
        width: 100%;
        background: url(img/burger2.png) no-repeat 98% center;
        background-color: #202020;
        cursor: pointer; 
        
    }
    
    header nav ul{
        overflow: hidden;
        background: #303030;
        width: 100%;
        height: 0;  
        
    }
    header nav ul.open{
        height: auto;
        padding-top: 10px;
        padding-bottom: 15px;  
    }
    
    /* NAVBAR */
    header .logo{
        display: block;
        margin: 0 auto;
        padding-top: 5px;
        width: 160px;
        padding-left: 0;
        padding-right: 0;
        
    }
    header nav{
        padding-top: 0;
        
    }
    header nav li{
        text-align: center;
        width: 100%; 
        padding-bottom: 10px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        
    }
    
    
    header li a:hover, header li a, header li:after, header li a:hover:after{
        border-bottom: 0;
    }
    header li a:after{
        display: none;
    }
    
    /*SHOWCASE*/
    #showcase{
        height: 1000px;
    }
    #showcase h1{
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        width: 100%;
    }
    #showcase p{
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 0;
    }
    #showcase img{
        min-width: 110px;
        margin: 0 auto;
        width: 38%;
        top: 0;   
        right: 12%;
    }
    
    /* BUTTONS */
    .header-btn{
        width: 80%;
        text-align: center;
        margin-bottom: 35px;
        margin: 0 auto;
        padding-bottom: 25px;
    }
    .btn-blue{
        margin: 0;
    }
    .btn-green{
        white-space: nowrap;   
    } 
    /* BOXES */
    #boxes{
        width: 100%;
        padding-bottom: 30px;
        padding-top: 60px;
    }
    #boxes img{
        width: 60px; 
    }
    #boxes .box{
        width: 90%;
        float: none;
        margin: 0 auto;
        padding: 0;  
 
    }
    #boxes p{
        padding-bottom: 20px;
    }
    
    /* Features */
    #features #row-img{
        float: none;
        text-align: center;
        width: 100%;
    }
    #features #row-img img{
        width: 85%;
        
    }
    #features #row-text h2{
        text-align: center;
        font-size: 32px;
        width: 100%;
    }
    #features #row-text p{
        padding-top: 30px;
        text-align: center;
        width: 95%;
        margin: 0 auto;
        padding-bottom: 35px;
    }
    
    #features #row-text{
        text-align: center;
    }
    #features .row{
    padding-bottom: 65px;
    }
    #features{
        padding-top: 65px;
    }

    /* Pricing */
    .pricing-bg{
        padding-top: 60px;
    }
    .pricing-header h2{
        font-size: 32px;
        width: 95%;
        margin: 0 auto; 
    }
    .grid-container{
        display: flex;
        flex-direction: column;
        
    }
    .grid-item{
    margin-bottom: 40px;
    width: 75%;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    }
    
    /* Contact */
    .bg-overlay{
        padding-top: 70px;
    }
    .contact-header{
        padding-left: 15px;
        padding-right: 15px;
    }
    .contact-header h2{
        font-size: 32px;
    }
    .contact-header p{
        font-size: 16px;
    }
    .bg-parallax{
        background: rgba(0,0,0,.7); 
        background-position: center;
        background-repeat: no-repeat;
	    opacity: 0.7;
        
    }
}






















